*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
}
body{
    background-color: #363636;
}

header{
    width: 100%;
    max-width: 1920px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.logo{
    width: 3rem;
    position: absolute;
    left: 1rem;
}

.menu-bar nav{
    position: absolute;
    left: 76rem;
    line-height: 4rem;
}

.menu-bar nav a{
    padding-left: 2rem;
}
.menu-bar nav a:hover{
    color: gold;
    
}
footer{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

footer img{
    width: 4rem;
}

footer p {
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding-top: 2rem;
}