*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: rgb(39, 39, 39);
}
main{
    width: 100%;
    max-width: 1920px;
}
header{
    background-color: rgb(255, 255, 255);
    padding: 5px 0;
}
h1 img{
    width: 45px;
    margin-left: 15px;
}

nav li{
    display: inline;
    padding: 0 10px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
    
}
nav a:hover{
    color: gold;
}

nav{
    position: absolute;
    top: 22px;
    right: 0;
}


footer{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

footer img{
    width: 4rem;
}

footer p {
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding-top: 2rem;
}

.box-banner{
    width: 60rem;
}