*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
}
body{
    background-color: #363636;
}

header{
    width: 100%;
    max-width: 1920px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.logo{
    width: 3rem;
    position: absolute;
    left: 1rem;
}

.menu-bar nav{
    position: absolute;
    left: 76rem;
    line-height: 4rem;
}

.menu-bar nav a{
    padding-left: 2rem;
}
.menu-bar nav a:hover{
    color: gold;
    
}
/* area main */
.area-main{
    display: flex;
    flex-direction: row;
}

.box-icon{
    width: 35rem;
    margin-top: 8.9rem;
    margin-left: 15rem;
}

.box-icon img{
    border-radius: 5px;
    border: solid white;
}

.box-icon img:hover{
    width: 38rem;
    border: solid goldenrod;
}

.box-area-text{
    margin-top: 5rem;
    width: 40rem;
}

.box-area-text{
   padding-left: 10rem;
}
.box-area-text h1{
    color: whitesmoke;
    font-size: 4rem;
}
.box-area-text h1 b{
    color: gold;
    font-weight: bold;
}
.box-area-text span{
    color: white;
    font-size: 20px;
}
.box-area-text span b{
    color: rgba(255, 0, 0, 0.876);
    font-weight: bold;
}

.area-beneficios{
    margin-left: 10rem;
    margin-top: 5rem;
}

.area-beneficios h2{
    font-size: 3rem;
    color: white;
}

.lista-beneficios{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.itemOne{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.itemOne svg{
    color: goldenrod;
    font-weight: bold;
    margin-top: .2rem;
}


footer{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background-color: #363636;
    margin-top: 8rem;

}

footer img{
    width: 4rem;
}

footer p {
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding-top: 2rem;
}