*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: rgb(39, 39, 39);
}
main{
    width: 100%;
    max-width: 1920px;
}
header{
    background-color: rgb(255, 255, 255);
    padding: 5px 0;
}
h1 img{
    width: 45px;
    margin-left: 15px;
}

nav li{
    display: inline;
    padding: 0 10px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
    
}
nav a:hover{
    color: gold;
}

nav{
    position: absolute;
    top: 22px;
    right: 0;
}


footer{
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

footer img{
    width: 4rem;
}

footer p {
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding-top: 2rem;
}

.box-banner{
    width: 60rem;
}
img{
    width: 100%;
}

body{
    text-align: center;
    width: 100%;
}
#missao strong{
    color: red; 
}

.itens{
    font-style: italic;
    text-align: left;
    margin-left: 8%;
    gap: 2%;
    padding-bottom: 4%;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.beneficios img{
    width: 50%;
 
    max-width: 1380px;
   
}

.beneficios {
    margin-top: 5vh;
    background-color: rgb(23, 23, 23);
    color: white;
    
}

.beneficios h2{
    color: rgb(234, 205, 18);
    padding-top: 2%;
    font-size: 32px;
}

.text-box{
    width: 100%;
    padding: 25px;

    align-items:center;
}